* {
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 100px;
    color: #E5E7EB;
    font-size: 18px;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Hero {
    background: #1F2937;
    width: 100%;
    height: 500px;
    padding: 1em;
}

.nav-logo {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: -20px;
    margin-left: 100px;
}

.hero-main h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 48px;
    margin-left: 100px;
    margin-top: 50px;
}

.hero-main p {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main img {
    margin-left: 850px;
    margin-top: -230px;
    width: 400px;
    border-radius: 5%;
}

.hero-main a {
    background: #3882F6;
    border-radius: 7%;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-left: 100px;
    margin-top: -40px;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    display: flex;

    transition: ease 0.2s all;
}

.hero-main a:hover {
    width: 110px;
    height: 35px;
    background: #306fd4;
}

.Info {
    width: 100%;
    height: 500px;
    padding: 1em;
}

.Info h1 {
    color: #1F2937;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Parent-Image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.Random-Image {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 3px solid #306fd4;
}

.Random-Image p {
    color: #1F2937;
    margin-top: 160px;
    text-align: center;
    font-size: smaller;
}

.Quote {
    background-color: #E5E7EB;
    width: 100%;
    height: 350px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.Quote p {
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 35px;
    width: 960px;
    height: 250px;
    margin-top: 80px;
    margin-left: 200px;
}

.Quote h3 {
    color: black;
    margin-top: 280px;
}

.Call-To-Action {
    width: 100%;
    height: 350px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.Action-BG {
    background-color: #3882F6;
    border-radius: 10px;
    width: 75%;
    height: 150px;
    margin-top: 140px;
    display: flex;
}

.Action-BG h2 {
    margin-top: 50px;
    margin-left: 140px;
    height: 30px;
}

.Action-BG p {
    margin-top: 85px;
    margin-left: -270px;
}

.Action-BG a {
    font-weight: 600;
    margin-left: 300px;
    margin-top: 65px;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    height: 30px;
    width: 120px;
    transition: ease 0.2s all;
}

.Action-BG a:hover {
    cursor: pointer;
    width: 130px;
}

.Footer {
    background-color: #1F2937;
    width: 100%;
    height: 120px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.Footer p {
    margin-top: 50px;
}